{% extends 'base.html' %}


{% block content %}
<script src="{{url_for('static', filename='js/auth/login.js')}}" ></script>

<div class="container">
    <div class="col-md-4 offset-md-4">
      <h6 class="text-center">Login</h6>
      <form id="loginForm">
        <small id="error"class="text-danger"></small>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" id="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input type="password" id="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
</div>

{% endblock %}