{% extends 'base.html' %}


{% block content %}
    <script src="{{url_for('static', filename='js/auth/signup.js')}}" ></script>

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card">
        <h6 class="card-header info-color white-text text-center py-4">
          <strong>Sign Up</strong>
        </h6>
        <small id="error"></small>
        <div class="card-body px-lg-5 pt-0">
          <form class="text-center" style="color: #757575" id="signupForm">
            <div class="for-row">
              <div class="col">
                <div class="md-form">
                  <small id="username_error"></small>
                  <input type="text" id="materialRegisterFormFirstName username" class="form-control" name="username" >
                  <label for="materialRegisterFormFirstName">Username</label>
                </div>
              </div>
            </div>
              <div class="md-form mt-0">
                <small id="email_error"></small>
                <input type="email" class="form-control" id="materialRegisterFormEmail email">
                <label for="materialRegisterFormEmail">Email</label>
              </div>
              <div class="md-form">
                <input type="password" class="form-control" id="materialRegisterFormPassword password" aria-describedby="materialRegisterFormPasswordHelpBlock">
                <label for="materialRegisterFormPassword">Password</label>
                <small id="materialRegisterFormPasswordHelpBlock" class="form-text"></small>
              </div>
              <div class="md-form">
                <small id="confirm_error"></small>
                <input type="password" class="form-controll" id="materialregisterFormPassword confirm_password" aria-describedby="materialRegisterFormPasswordHelpBlock">
                <label for="materialRegisterFormPassword">Confirm Password</label>
                <small class="form-text" id="materialRegisterFormHelpBlock"></small>
              </div>
              <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" id="register">Submit</button>
          </form>
          </div> 
        </div>
      </div>
    <div class="col-md-4"></div>
  </div>
</div>

{% end block %}