@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css?family=Carme&display=swap');

body{
    background-color: #40407a;
    font-family: 'Carme', sans-serif;
    color:white;
}

.navbar-brand{
   font-family: 'Cabin Sketch', cursive;
   color:white;
}
.brand{
    color:#120639;
    font-size:50px;
   
}

.nav-item .btn{
    background-color:  #40407a;
    font-size: 18px;
    border-radius: 8%;
   

}
 .btn:hover{
    border-color: #706fd3;
    border-radius:0%;
    color: #40407a;
 }
 

 .navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .navbar-nav {
    display:inline-block;
    float: none;
}

.heading{
    font-family: 'Cabin Sketch', cursive;
    font-size:120px;
}
.heading2{
    font-family: 'Cabin Sketch', cursive;
    font-size:90px;
}
#otherhalf{
    color:#2c2c54;
    font-size: 150px;
}
#otherhalf2{
    color:#2c2c54;
    font-size: 100px;
}
.createg{
    background-color: #120639;
}

.htoplay{
    color:#120639;
    font-weight:900;
    text-decoration: underline;
  
    


}
.submitbtn{
    background-color:  #120639;
    font-size: 24px;
    border-radius: 8%;
   

}