{% extends 'base.html' %}

{% block content %}

<div class="container text-center mt-2">
    
    
    <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-8 createg">
            <h1 class ="heading2 mb-5">Cheza  <span id = "otherhalf2"> |Game</span></h1>

            <form action="/creategame/{{current_user.id}}" method="post" class = "text-center">
                <!-- <small id="error"class="text-danger">display flash message</small> -->
                <div class="form-group mr-5 ml-5">
                    <input type="name" class="form-control" id="playername" name = "gamename" placeholder="Enter name of your game">
                </div>
                <div class="form-group mr-5 ml-5">
                    <textarea class="form-control" id="exampleFormControlTextarea1" name = "description"rows="3" placeholder="Enter a short description"></textarea>
                </div>
                <div class="form-group mr-5 ml-5">
                    <label for="exampleInputPassword1">Does You game have any cash rewards or other rewards?</label>
                    <input type="reward" class="form-control" id="exampleInputPassword1" name = "award" placeholder="Enter Reward(specify currency type if cash reward)">
                </div>

                <div class="form-group mr-5 ml-5">
                        <label for="exampleInputPassword1">Is your game still on?</label>
                        <input type="status" class="form-control" id="exampleInputPassword1" name = "status" placeholder="Enter True/T for on  or False/F for off">
                </div>
             
                <div class="form-group mr-5 ml-5">
                        <label for="exampleInputPassword1">Enter your game code</label>
                        <input type="status" class="form-control" id="exampleInputPassword1" name = "game_password" placeholder="Enter gamecode for players">
                </div>
             
                <a type="submit" class=" submitbtn btn btn-sm  mb-5" style= "font-size: 16px;">Next</a>

            </form>
            
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}

