{% extends 'base.html' %}

{% block content %}

<div class="container text-center mt-2">
    
    
    <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-8 createg">
            <h1 class ="heading2 mb-5">Cheza  <span id = "otherhalf2"> |Game</span></h1>
            {%if current_game%}
             <h2 class= "text-center">Name : {{current_game.gamename}}</h2>
             <h5> About: {{current_game.description}}</h5>
             <h5>Award : {{current_game.award}}</h5>
             <h5>Status : {{current_game.status}}</h5>
            {%endif%}
        <a href="{{url_for('main.add_questions',game_id=current_game.id, player_id=player_id)}}">Play</a>
    </div>
    <div class="col-md-2"></div>
    </div>
    </div>
</div>

{% endblock %}

