{% extends 'base.html'%}
{% block content%}
{{super()}}
<script type="text/javascript" src="{{url_for('static', filename='js/profile.js')}}">

</script>
<style media="screen">
  .profile{
    /* position:fixed; */
    height:80vh;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .profile *<{
    filter:blur(10px)
  }
  .content{
    position:absolute;
    /* filter:blur(0px) */
    /* z-index:9999999; */
  }
  .circle{
    filter:blur(0);
    border-radius:50%;
  }
  .input{
    color:white;
    border:solid 1px white;
    background-color:transparent;
    border-width:0 0 1px 0;
    border-radius:0;
  }
.details:before{
  content:'';
  position:absolute;
  top:0;
  background-color:white;
  height:100%;
  width:100%;
  z-index:-3;
  transform:skew(-20deg);
}
.details{
  position:relative;
  right:20px;
  width:200px;
  font-weight:bold;
  background:white;
  color:purple;
  padding:10px;
  z-index:-1;
}
#my_msg{
  display:none
}
.pwd-success{
  height:88.4%;
  position:absolute;
  z-index:30;
  display:flex;
  background-color:rgba(0,0,0,.9);
  /* flex-direction:column; */
  justify-content:center;
  align-items:center;
}
.success{
  padding:10px;
  text-align:center;
  border-radius:12px;
  background-color:white;
  color:black;
  width:200px ;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
#edit,
#close{
  background:white;
  padding:3px 10px;
  border-radius:15px;
  float:right;
  cursor:pointer;
}
#change{
  background-color:white;
  color:purple;
  padding:5px 10px;
  border-radius:25px;
  cursor:pointer;
}
.add-game{
  height:90%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}
.add-game a{
color:white;
}
.add-game .fas{
  font-size:30px
}
</style>
<div id="my_msg">

<div id="pwd-success" class=" container-fluid pwd-success">
<div class="success">
  <img src="{{url_for('static', filename='tick.png')}}"  width="100px"alt="tick">
  <h3>SUCCESS</h3>
  <small id="msg">Your password has ben successfuly changed</small>
</div>
</div>
</div>
<!-- <link rel="stylesheet" href="{{url_for('static' , filename='css/profile.css')}}"> -->
<div class="container-fluid">
  <h3 class="text-center">Welcome {{current_user.username}}</h3>
  <div class="row">
    {% if user.profile_photo%}
    <div class="col-md-3 profile" style="background-image:{{url_for('static', filename='current_user.profile_photo')}}">
      <img src="{{url_for('static', filename=current_user.profile_photo)}}" width="250px" height="250px" class="circle" alt="">
      <br>
      <form id="photo_update" action="/profile/update_photo/{{user.id}}" method="post" enctype="multipart/form-data">
        <label id="change" class="custom-file-upload">
        <input type="file" style="width:0px" name="UpdatePic" id="UpdatePic" required>
          <i class="fas fa-upload"> Add Photo</i>
        </label><br>
        <!-- <input type="file" class="form-control" name="profilePic" id="profilePic" style="width:130px" value=""><br>    -->
        <button type="submit" class="btn btn-primary btn-sm" > update</button>
      </form>
    </div>
    {% else %}
    <div class="col-md-3 profile" style="background-image:url('{{url_for('static', filename='profile_photos.jpg')}}');overflow:hidden">
        <img src="{{url_for('static', filename='profile_photo.jpg')}}" width="300px" class="circle" alt="">
        <br>
        <form id="photo_upload" action="/profile/add_photo/{{user.id}}" method="post" enctype="multipart/form-data">
          <label id="change" class="custom-file-upload">
          <input type="file" style="width:0px" name="profilePic" id="profilePic" required>
            <i class="fas fa-upload"> Add Photo</i>
          </label><br>
          <!-- <input type="file" class="form-control" name="profilePic" id="profilePic" style="width:130px" value=""><br>    -->
          <button type="submit" class="btn btn-primary btn-sm" > submit</button>
        </form>
    </div>
    {% endif %}
    <div class="col-md-6">
    <h6 class="details">Username</h6>
    {{user.username}}
    <br><br>
  {#
  <h6>Email</h6>
  {{user.email}}
  <h6>Games</h6>
  {{user.game.count()}}
  #}
  <h6 class="details">Bio</h6>
  {% if user.bio %}
  <small id = "edit" style="color:blue"> <i class="fas fa-pen"> edit</i> </small>
  <small id = "close" style="color:red;display:none"> <i class="fas fa-times"></i> </small>

  <p id="user_biom">{{user.bio}}</p>
  <br>
  <form id="edit-bio" style="display:none">
    <div class="form-group ">
      <input type="text" id="changeBio" name="changeBio" class=" input form-control form-control-sm" value="{{user.bio}}" required>
      <button type="submit" class="btn btn-sm btn-primary">update</button>
    </div>
  </form>
  {%else %}
  <p id="final_bio"></p>
  <br>
  <form id="new-bio">

    <div class="form-group col-md-7">
        <input type="text" id="bio" name="bio" class=" input form-control form-control-sm" placeholder="Add a bio" required>
      </div>
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
  </form>
  {% endif %}
  <br>
  <h5>Change Password</h5>
  <br>
  <form id="change-password">
    <div class="form-row">
      <small class="text-danger" id="main_error"></small>
    <div class="form-group col-md-6">
      <lable>Older Password</lable>
      <input type="password" id="former_password" class=" input form-control form-control-sm" placeholder="Old Password" required>
      <small class="text-danger" id="pwd_error"></small>
    </div>
    <div class="form-group col-md-6">
      <lable>New Password</lable>
      <input type="password" id="new_password" class=" input form-control form-control-sm" placeholder="New Password" required>
    </div>
  </div>
  <br>
  <div class="form-row">
    <div id="after-pwd" style="display:none" class="form-group col-md-6">
      <lable>New Password</lable>
      <input type="password" id="new_password_confirm" class="input form-control form-control-sm" placeholder="Confirm New Password" required>
      <small class="text-danger" id="pwd_conf_error"></small>
      <input type="hidden" id="user_id" name="user_id" value="{{user.id}}">
    </div>
    <div class="from-group col-md-6"><br>
      <button id="after-pwd_conf" style="display:none" type="submit" class="btn btn-sm btn-primary">Change</button>
    </div>
  </div>
  </form>
    </div>
    <div class="col-md-3">
      <h5 style="text-align:center">My Games</h5>
      {% if games %}
      {% for game in games %}
        <h6>{{game.gamename}}</h6>
        <h6>Game Code</h6>
        <small>{{game.password}}</small>
        <small class="copy"><i class="fas fa-clipboard"></i></small>
        {% endfor %}
      {% else %}
      <div class="container-fluid add-game">
        <a href ='/creategame/{{current_user.id}}'>
          <i class="fas fa-gamepad"></i><br>
         </a>
        <a href ='/creategame/{{current_user.id}}'>.. Add Game .. </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}
